<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2022 Google LLC
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

  Shaka Lab Node - Service Definition
-->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>shaka-lab-node-service</string>

    <key>ProgramArguments</key>
    <array>
      <!-- The log wrapper works around issues with log rotation / launchd. -->
      <string>/opt/homebrew/bin/node</string>
      <string>/opt/homebrew/opt/shaka-lab-node/log-wrapper.js</string>
      <string>/opt/homebrew/var/log/shaka-lab-node.out.log</string>
      <string>/opt/homebrew/var/log/shaka-lab-node.err.log</string>
      <string>/opt/homebrew/var/run/shaka-lab-node.pid</string>
      <!-- This is the service started by the wrapper. -->
      <string>/opt/homebrew/bin/node</string>
      <string>/opt/homebrew/opt/shaka-lab-node/start-nodes.js</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/opt/homebrew/opt/shaka-lab-node</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
      <key>SuccessfulExit</key>
      <false/>
    </dict>

    <key>TimeOut</key>
    <integer>30</integer>
  </dict>
</plist>
