# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

Source: shaka-lab-browsers
Maintainer: Joey Parrish <joeyparrish@google.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: shaka-lab-browsers
Architecture: all
Pre-Depends: shaka-lab-recommended-settings
# NOTE: Setting a minimum version for Firefox will forbid usage of the "snap"
# package.  The snap version of Firefox will not work for our test
# infrastructure, but it has a version number like "1.1" instead of a Firefox
# release version like "116".  The settings in shaka-lab-recommended-settings
# will allow installation of Firefox directly from Mozilla's PPA instead, so
# this dependency should be satisfiable.
Depends: adb, firefox (>= 100), google-chrome-stable, microsoft-edge-stable, scrcpy
Description: Shaka Lab Browsers
 A meta-package to install all major browsers for the Shaka Lab
